body{
    font-size: 6em;
    text-align: center;
}
.count{
    margin: 0;
    font-weight: bold;
    color: #888;
}
.wrap{
    margin-top: 20px;
    padding: 80px 40px;
    background-color: #666;
    font-weight: bold;
    color: #fff;
}
.typed{
    color: lightgreen;
}
.mistyped{
    background-color: red;
}
#start{
    position: absolute;
    z-index: 11;
    top: 20px;
}
#start_count_btn{
    position: relative;
}
#countbtn{
    display:none;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 35%;
    z-index: 10;
    color:#888;
    font-weight: bold;
    font-size: 60px;
}